.App {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  background-color: cornflowerblue;
}

.button {
  width: 40vh;
  height: 5vh;
  align-self: center;
  border-radius: 2vh;
  margin: 1vh;
}

.button:hover {
  width: 42vh;
  height: 6vh;
  background-color: cadetblue;
  color: white;
}

.button:active {
  background-color: black;
}
