/*parent block layout*/
.par {
    position:relative;
    left:500px;
    top:150px;
    height:400px;
    width:400px;
    padding:0;
}

/*test block with z index to display the same behind the animated block*/
.t {
    position:absolute;
    top:100px;
    left:180px;
    z-index:-1;
    font-size: 60px;
}

/*first block*/
.a   {
    z-index: 1;
    float:left;
    width:200px;
    height:200px;
    background-color:coral;
    transition: transform .9s ease-in-out;
    transform-origin: 0 0;
}
/* second block*/
.b    {
      
    z-index: 1;
    float:left;
    width:200px;
    height:200px;
    background-color:aquamarine;
    transition: transform .9s ease-in-out;
    transform-origin: 200px 0;
}

/*third block*/
.c   {
      
    z-index: 1;
    float:left;
    width:200px;
    height:200px;
    background-color:darkgoldenrod;
    transition: transform .9s ease-in-out;
    transform-origin: 0 200px;
}
/* fourth block*/
.d    {
      
    z-index: 1;
    float:left;
    width:200px;
    height:200px;
    background-color:darkgray;
    transition: transform .9s ease-in-out;
    transform-origin: 200px 200PX;
}

/* transformation and transition*/

.par:hover .a {
    transform: rotate(90deg);
}

.par:hover .b {
    transform: rotate(-90deg);
}

.par:hover .c {
    transform: rotate(-90deg);
}

.par:hover .d {
    transform: rotate(90deg);
}